@tailwind base;
@tailwind components;
@tailwind utilities;


.colored-bg {
	background: url('/bg.png');
	background-size: cover;
}

.fq {
 @apply mb-6
}

.f {
	padding-bottom: .5rem;
}

.q {
	font-size: 12px;
	@apply text-dark/70;
}